* {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: rgba(153, 153, 153, 0.5);
}

:-moz-placeholder {
  color: rgba(153, 153, 153, 0.5);
}

::-moz-placeholder {
  color: rgba(153, 153, 153, 0.5);
}

:-ms-input-placeholder {
  color: rgba(153, 153, 153, 0.5);
}

.wrapper {
  max-width: 1410px;
  margin: 0 auto;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #1f7d63;
  padding: 0 15px 0 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.title {
  color: #333333;
  font-size: 32px;
  font-weight: 700;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  padding-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.nav__list {
  color: #333333;
  font-weight: 400;
  margin-right: 15px;
  text-decoration: none;
}
.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav__timetable {
  color: #999999;
  padding-right: 25px;
}
.nav__number {
  padding-right: 25px;
}
.nav__number a {
  color: #333333;
  text-decoration: none;
}
.nav__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__language-item {
  color: #999999;
  text-decoration: none;
  margin-right: 12px;
}
.nav__language-item_active {
  color: #1f7d63;
  cursor: default;
}
.nav__language-line {
  width: 1px;
  height: 100%;
  background-color: #999999;
  margin-right: 12px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.menu__btn {
  margin-right: 20px;
}

.logo {
  margin-right: 45px;
}

.burger {
  display: block;
  position: relative;
  width: 20px;
  height: 14px;
  margin-right: 10px;
}
.burger-link {
  position: absolute;
  top: 6px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #fff;
}
.burger:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-inp {
  height: 50px;
  width: 700px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid #999999;
  border-right: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #1f7d63;
  margin-right: 20px;
  border: none;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}
.search-icon {
  content: "";
  width: 50px;
  height: 50px;
  left: 30%;
  top: 30%;
  position: absolute;
  background-image: url(../assets/img/icon-search.png);
  background-repeat: no-repeat;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
}
.item-control__link {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.item-control__img {
  margin: 0;
}
.item-control__sticker {
  position: absolute;
  right: -3px;
  top: -6px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  background-color: #e44542;
  border-radius: 50%;
  padding: 2px 5px 2px 5px;
}

.cart-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart-price__link {
  color: #1f7d63;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}

.slider {
  position: relative;
  margin-top: 18px;
}
.slider__link {
  display: block;
  text-decoration: none;
}
.slider__text {
  position: absolute;
  top: 46%;
  left: 20%;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}
.slider__arrow-left {
  position: absolute;
  top: 47%;
  left: 5px;
}
.slider__arrow-right {
  position: absolute;
  top: 47%;
  right: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrival {
  margin-top: 20px;
}
.arrival__title {
  margin-top: 25px;
}
.arrival__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.banner {
  margin-top: 40px;
}
.banner__standart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.banner__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.banner__link {
  display: block;
}
.banner__img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.banner__text {
  font-size: 24px;
  padding: 16px 24px 16px 24px;
}
.banner__text-link {
  color: #333333;
  text-decoration: none;
}

.product {
  margin-right: 15px;
}
.product__link {
  position: relative;
}
.product__img {
  display: block;
}
.product__sticker {
  position: absolute;
  top: 0;
  color: #fff;
  background-color: #e44542;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 7px 5px 7px;
  border-radius: 6px;
}
.product__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 30px;
}
.product__name-link {
  color: #333333;
  text-decoration: none;
}
.product__name-link:hover {
  color: #1f7d63;
}
.product__price {
  position: relative;
  height: 50px;
  margin-top: 30px;
}
.product__price-before {
  color: #999999;
  font-size: 1.125rem;
  text-decoration: line-through;
}
.product__price-after {
  position: absolute;
  color: #333333;
  font-size: 1.75rem;
  font-weight: 600;
  bottom: 0;
}
.product__price-active {
  padding-bottom: 21px;
}
.product__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 38px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #1f7d63;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.product__btn:hover {
  background-color: #2eb790;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.product__btn-img {
  margin-left: 5px;
}
.product__btn-active {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.product__btn-minus {
  width: 40px;
  height: 38px;
  font-size: 24px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  border: none;
  background-color: #1f7d63;
  margin-right: 1px;
  cursor: pointer;
}
.product__btn-minus:hover {
  background-color: #2eb790;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.product__btn-text {
  width: 130px;
  height: 38px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #1f7d63;
  margin-right: 1px;
  cursor: pointer;
}
.product__btn-text:hover {
  background-color: #2eb790;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.product__btn-plus {
  width: 40px;
  height: 38px;
  font-size: 24px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  border: none;
  background-color: #1f7d63;
  cursor: pointer;
}
.product__btn-plus:hover {
  background-color: #2eb790;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drinks {
  margin-top: 50px;
}
.drinks__title {
  margin-top: 25px;
}
.drinks__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.nuts {
  margin-top: 80px;
}
.nuts__title {
  margin-top: 25px;
}
.nuts__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.stock__title {
  display: block;
  margin-top: 70px;
  margin-left: 20px;
}
.stock__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.stock__item {
  display: block;
  max-width: 315px;
  margin-top: 30px;
}
.stock__img {
  border-radius: 6px;
}
.stock__text {
  margin-top: 8px;
}
.stock__text-link {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.stock__text-link:hover {
  color: #1f7d63;
}
.stock__data {
  margin-top: 8px;
}

.reviews {
  margin-top: 50px;
}
.reviews__title {
  margin-top: 25px;
}
.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.reviews__item {
  max-width: 430px;
  padding: 45px 0 0 30px;
}
.reviews__name {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}
.reviews__text {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.connection {
  max-width: 685px;
  margin: 0 auto;
  margin-top: 100px;
}
.connection input::-moz-placeholder {
  color: #9999a5;
}
.connection input::-webkit-input-placeholder {
  color: #9999a5;
}
.connection textarea::-moz-placeholder {
  color: #9999a5;
}
.connection textarea::-webkit-input-placeholder {
  color: #9999a5;
}
.connection__title {
  margin-top: 25px;
  text-align: center;
}
.connection__form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.connection__input {
  width: 47%;
  height: 50px;
  font-size: 16px;
  padding-left: 8px;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
}
.connection__input:hover {
  border-color: #fff;
}
.connection__input:active {
  border-color: #fff;
}
.connection__textarea {
  width: 100%;
  height: 120px;
  font-size: 16px;
  margin-top: 30px;
  padding: 8px;
  border: 1px solid #f7f7f7;
  resize: none;
}
.connection__confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.connection__confirmation-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.connection__confirmation-input + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.connection__confirmation-input + label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  margin-right: 0.7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.connection__confirmation-input:checked + label::before {
  border-color: #1f7d63;
  background-color: none;
  background-image: url(../assets/img/check.png);
  background-size: 20px;
}
.connection__confirmation-label {
  display: block;
  font-size: 16px;
  line-height: 20.8px;
}
.connection__btn {
  font-size: 20px;
  font-weight: 400;
  padding: 0 70px 0 70px;
  margin: 0 auto;
  margin-top: 25px;
}

.footer {
  width: 100%;
  margin-top: 70px;
}
.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
}
.footer__item:last-child {
  margin-right: 0px;
}
.footer__item-info {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer__item-link {
  color: #333333;
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 14px;
}
.footer__item-link:last-child {
  margin-bottom: 0px;
}
.footer__contacts {
  max-width: 300px;
}
.footer__social-text {
  font-size: 0.9rem;
  font-weight: 700;
}
.footer__social-items {
  margin-top: 20px;
}
.footer__social-icon {
  margin-right: 12px;
}
.footer__social-icon:last-child {
  margin-right: 0px;
}
.footer__number {
  margin-top: 35px;
}
.footer__number-item {
  margin-top: 20px;
}
.footer__number-value {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
}
.footer__number-text {
  font-size: 11px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.footer__logo-link {
  display: block;
}
.footer__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 60px;
}
.footer__cards-item {
  margin-right: 15px;
}
.footer .footer__permission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 20px;
}
.footer .footer__permission-text {
  font-size: 14px;
}