.slider {
  position: relative;
  margin-top: 18px;
}
.slider a {
  display: block;
  text-decoration: none;
}
.slider a .slider__text {
  position: absolute;
  top: 46%;
  left: 20%;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}
.slider a .arrow-left {
  position: absolute;
  top: 47%;
  left: 5px;
}
.slider a .arrow-right {
  position: absolute;
  top: 47%;
  right: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}